train/
valid/
datasets/
wandb/
runs/
sample.png
yolo11x-obb.pt
best.pt

.tmp.drivedownload/
.tmp.driveupload/

task_smaple.png
task.ipynb

dataset2/
aif.zip
submission/
train.csv  
submission_1image/ 

__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
model_checkpoints/
train_objects_images/

vaildate_objects_images/
train_objects_labels/
vaildate_objects_labels/