train/
valid/
datasets/
wandb/
runs/
sample.png

__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
model_checkpoints/
train_objects_images/

vaildate_objects_images/
train_objects_labels/
vaildate_objects_labels/